esign-patched/Workflows/ESignCancelEnvelope-137DDC35-7351-45AB-91AA-FD67D30C4B22.json
{
    "name": "ESign - Cancel Envelope",
    "properties": {
        "definition": {
            "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
            "contentVersion": "1.0.0.0",
            "parameters": {
                "$authentication": {
                    "defaultValue": {},
                    "type": "SecureObject"
                },
                "$connections": {
                    "defaultValue": {},
                    "type": "Object"
                }
            },
            "triggers": {
                "When_a_row_is_added_modified_or_deleted": {
                    "type": "OpenApiConnectionWebhook",
                    "inputs": {
                        "host": {
                            "connectionName": "shared_commondataserviceforapps",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                            "operationId": "SubscribeWebhookTrigger"
                        },
                        "parameters": {
                            "subscriptionRequest/message": 3,
                            "subscriptionRequest/entityname": "cs_envelopes",
                            "subscriptionRequest/scope": 4,
                            "subscriptionRequest/filteringattributes": "statuscode"
                        },
                        "authentication": "@parameters('$authentication')"
                    }
                }
            },
            "actions": {
                "Authenticate": {
                    "type": "Http",
                    "inputs": {
                        "method": "POST",
                        "uri": "https://account.assuresign.net/api/v3.7/authentication/apiUser",
                        "headers": {
                            "Content-Type": "application/json",
                            "accept": "application/json"
                        },
                        "body": {
                            "username": "elections-broker-service_apdFUAke",
                            "apiKey": "d55q5AeThjLeO4SR1mfVSz30t3WF4jzg"
                        }
                    },
                    "runAfter": {}
                },
                "Initialize_AssureSignToken": {
                    "type": "InitializeVariable",
                    "inputs": {
                        "variables": [
                            {
                                "name": "AssureSignToken",
                                "type": "string",
                                "value": "@{concat('bearer ', body('Authenticate')?['result']?['token'])}"
                            }
                        ]
                    },
                    "runAfter": {
                        "Authenticate": [
                            "Succeeded"
                        ]
                    }
                },
                "Get_Envelope_Record": {
                    "type": "OpenApiConnection",
                    "inputs": {
                        "host": {
                            "connectionName": "shared_commondataserviceforapps",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                            "operationId": "GetItem"
                        },
                        "parameters": {
                            "entityName": "cs_envelopes",
                            "recordId": "@{triggerOutputs()?['body/cs_envelopeid']}"
                        },
                        "authentication": "@parameters('$authentication')"
                    },
                    "runAfter": {
                        "Initialize_AssureSignToken": [
                            "Succeeded"
                        ]
                    }
                },
                "HTTP_Cancel_Envelope": {
                    "type": "Http",
                    "inputs": {
                        "method": "PUT",
                        "uri": "@{concat('https://ca1.assuresign.net/api/documentnow/v3.7/envelopes/', outputs('Get_Envelope_Record')?['body/cs_envelopeid'], '/cancel')}",
                        "headers": {
                            "Authorization": "@{variables('AssureSignToken')}",
                            "X-AS-UserContext": "fred.pearson@leonardocompany.ca:b47945a4-e2ca-4304-8a84-96918989e464",
                            "accept": "application/json",
                            "Content-Type": "application/json"
                        },
                        "body": {}
                    },
                    "runAfter": {
                        "Get_Envelope_Record": [
                            "Succeeded"
                        ]
                    }
                },
                "Update_Envelope_Cancelled": {
                    "type": "OpenApiConnection",
                    "inputs": {
                        "host": {
                            "connectionName": "shared_commondataserviceforapps",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                            "operationId": "UpdateOnlyRecord"
                        },
                        "parameters": {
                            "entityName": "cs_envelopes",
                            "recordId": "@{triggerOutputs()?['body/cs_envelopeid']}",
                            "item/statecode": 1,
                            "item/statuscode": 8,
                            "item/cs_cancelleddate": "@{utcNow()}"
                        },
                        "authentication": "@parameters('$authentication')"
                    },
                    "runAfter": {
                        "HTTP_Cancel_Envelope": [
                            "Succeeded"
                        ]
                    }
                },
                "Update_Envelope_CancelError": {
                    "type": "OpenApiConnection",
                    "inputs": {
                        "host": {
                            "connectionName": "shared_commondataserviceforapps",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                            "operationId": "UpdateOnlyRecord"
                        },
                        "parameters": {
                            "entityName": "cs_envelopes",
                            "recordId": "@{triggerOutputs()?['body/cs_envelopeid']}",
                            "item/statecode": 0,
                            "item/statuscode": 9,
                            "item/cs_responsebody": "@{string(body('HTTP_Cancel_Envelope'))}"
                        },
                        "authentication": "@parameters('$authentication')"
                    },
                    "runAfter": {
                        "HTTP_Cancel_Envelope": [
                            "Failed",
                            "TimedOut"
                        ]
                    }
                }
            }
        },
        "schemaVersion": "1.0.0.0",
        "connectionReferences": {
            "shared_commondataserviceforapps": {
                "runtimeSource": "invoker",
                "connection": {
                    "connectionReferenceLogicalName": "cs_sharecommondataserviceforapps"
                },
                "api": {
                    "name": "shared_commondataserviceforapps"
                }
            }
        }
    }
}