esign-patched/Workflows/ESignGetAccessLinks-7467B6AB-123F-4ABE-B6FA-857F44C5C2F7.json
{
    "name": "ESign - Get Access Links",
    "properties": {
        "definition": {
            "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
            "contentVersion": "1.0.0.0",
            "parameters": {
                "$authentication": {
                    "defaultValue": {},
                    "type": "SecureObject"
                },
                "$connections": {
                    "defaultValue": {},
                    "type": "Object"
                }
            },
            "triggers": {
                "When_a_row_is_added_modified_or_deleted": {
                    "type": "OpenApiConnectionWebhook",
                    "inputs": {
                        "host": {
                            "connectionName": "shared_commondataserviceforapps",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                            "operationId": "SubscribeWebhookTrigger"
                        },
                        "parameters": {
                            "subscriptionRequest/message": 3,
                            "subscriptionRequest/entityname": "cs_envelopes",
                            "subscriptionRequest/scope": 4,
                            "subscriptionRequest/filteringattributes": "statuscode"
                        },
                        "authentication": "@parameters('$authentication')"
                    }
                }
            },
            "actions": {
                "Authenticate": {
                    "type": "Http",
                    "inputs": {
                        "method": "POST",
                        "uri": "https://account.assuresign.net/api/v3.7/authentication/apiUser",
                        "headers": {
                            "Content-Type": "application/json",
                            "accept": "application/json"
                        },
                        "body": {
                            "username": "elections-broker-service_apdFUAke",
                            "apiKey": "d55q5AeThjLeO4SR1mfVSz30t3WF4jzg"
                        }
                    },
                    "runAfter": {}
                },
                "Initialize_AssureSignToken": {
                    "type": "InitializeVariable",
                    "inputs": {
                        "variables": [
                            {
                                "name": "AssureSignToken",
                                "type": "string",
                                "value": "@{concat('bearer ', body('Authenticate')?['result']?['token'])}"
                            }
                        ]
                    },
                    "runAfter": {
                        "Authenticate": [
                            "Succeeded"
                        ]
                    }
                },
                "Get_Envelope_Record": {
                    "type": "OpenApiConnection",
                    "inputs": {
                        "host": {
                            "connectionName": "shared_commondataserviceforapps",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                            "operationId": "GetItem"
                        },
                        "parameters": {
                            "entityName": "cs_envelopes",
                            "recordId": "@{triggerOutputs()?['body/cs_envelopeid']}"
                        },
                        "authentication": "@parameters('$authentication')"
                    },
                    "runAfter": {
                        "Initialize_AssureSignToken": [
                            "Succeeded"
                        ]
                    }
                },
                "HTTP_Get_Access_Links": {
                    "type": "Http",
                    "inputs": {
                        "method": "GET",
                        "uri": "@{concat('https://ca1.assuresign.net/api/documentnow/v3.7/envelopes/', outputs('Get_Envelope_Record')?['body/cs_envelopeid'], '/accessLinks')}",
                        "headers": {
                            "Authorization": "@{variables('AssureSignToken')}",
                            "X-AS-UserContext": "fred.pearson@leonardocompany.ca:b47945a4-e2ca-4304-8a84-96918989e464",
                            "accept": "application/json"
                        }
                    },
                    "runAfter": {
                        "Get_Envelope_Record": [
                            "Succeeded"
                        ]
                    }
                },
                "Process_Each_Access_Link": {
                    "type": "Foreach",
                    "foreach": "@body('HTTP_Get_Access_Links')?['result']",
                    "actions": {
                        "Create_Access_Link_Record": {
                            "type": "OpenApiConnection",
                            "inputs": {
                                "host": {
                                    "connectionName": "shared_commondataserviceforapps",
                                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                                    "operationId": "CreateItem"
                                },
                                "parameters": {
                                    "entityName": "cs_accesslinks",
                                    "item/cs_name": "@{items('Process_Each_Access_Link')?['linkType']}",
                                    "item/cs_envelopeid": "@{outputs('Get_Envelope_Record')?['body/cs_envelopeid']}",
                                    "item/cs_signerid": "@{items('Process_Each_Access_Link')?['signerID']}",
                                    "item/cs_linkurl": "@{items('Process_Each_Access_Link')?['accessLink']}",
                                    "item/cs_linktype": "@{items('Process_Each_Access_Link')?['linkType']}",
                                    "item/cs_documenttype": "@{items('Process_Each_Access_Link')?['documentType']}",
                                    "item/cs_expiresat": "@{items('Process_Each_Access_Link')?['expiresAt']}"
                                },
                                "authentication": "@parameters('$authentication')"
                            },
                            "runAfter": {}
                        }
                    },
                    "runAfter": {
                        "HTTP_Get_Access_Links": [
                            "Succeeded"
                        ]
                    }
                }
            }
        },
        "schemaVersion": "1.0.0.0",
        "connectionReferences": {
            "shared_commondataserviceforapps": {
                "runtimeSource": "invoker",
                "connection": {
                    "connectionReferenceLogicalName": "cs_sharecommondataserviceforapps"
                },
                "api": {
                    "name": "shared_commondataserviceforapps"
                }
            }
        }
    }
}